body{
    background-image: url("/static/images/bgcool.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#input1{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    overflow: hidden;
}

.fri{
    color: coral;
}

#msgcontainer{
    overflow-y: auto;
}

.msg{
    background-color: darkgray;
    padding: 7px;
    margin-bottom: 10px;
}

.self{
    background-color: rgba(11, 100, 225, 0.6);
    max-width: 50%;
}