<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/chat.css">
    <title>Chat App</title>
    <link rel="icon" type="image/x-icon" href="/static/images/chatapp.png">
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <nav class="navbar navbar-expand-sm bg-dark">

            <div class="container-fluid d-flex justify-content-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h4 class="text text-info"><b><i>DiamondApp</i></b></h4>
                </li>
              </ul>
            </div>
          
          </nav>

        <div class="container">
        <div class="card">
            <div class="card-body bg-dark">
                <div class="d-flex justify-content-between">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body bg-dark">

                                        <a href="/friends">

                                        <div class="card-title d-flex justify-content-around">
                                            <img src="/static/images/friendszone.jpg" alt="friends zone" class="rounded-circle w-25 h-25 img-fluid">
                                            <p class="d-flex justify-content-center me-2">Friends Zone</p>
                                        </div>
                                        
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">

                    <img src="/static/images/chatapp.png" alt="chat app" class="rounded-circle img-fluid h-50">

                    <h4 class="text text-light" id="diamondapp">DiamondApp</h4>
                   
                    <p class="text text-light" id="friends">Meet friends and vibe</p>

                            </div>
                        
                        </div>
                   
                    </div>
               </div>

            </div>
        </div>
        </div>
    </div>
</body>
</html>